<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
         name="App coding standard"
>
    <arg value="p"/>
    <arg name="colors"/>
    <arg name="cache" value="var/cache/.phpcs.json"/>

<!--    <arg name="basepath" value="."/>-->
<!--    <arg name="extensions" value="php"/>-->

<!--    <file>bin/</file>-->
<!--    <file>config/</file>-->
<!--    <file>public/</file>-->
    <file>src/</file>
<!--    <file>tests/</file>-->

    <rule ref="PSR12"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>
    <rule ref="Generic.Files.LineLength">
        <exclude-pattern>src/Migrations</exclude-pattern>
    </rule>
    <rule ref="PSR12.Functions.ReturnTypeDeclaration.SpaceBeforeColon">
        <exclude-pattern>src/Migrations</exclude-pattern>
    </rule>

</ruleset>
